<html>

<head>
    <title>CSS Grid</title>
    <link rel="stylesheet" href="../css/layout.css">
    <link rel="stylesheet" href="../css/header.css">

    <link rel="stylesheet" href="../css/grids/grid6.css">
</head>

<body class="body">
    <header class="header">
        <a href="../index.html"><div class="header__square"></div></a>
        <h1 class="header__title">CSS Grid Demo</h1>
        <span class="header__subtitle">By James Formica</span>
    </header>
    <section class="viewport">

        <h2 class="title">Grid Gaps</h2>

        <pre>
grid-column-gap: 10px;
grid-row-gap: 20px;</pre>

        <div class="grid1" id="grid">
            <div class="item item__header" style="background-color: #e74c3c">header</div>
            <div class="item item__side" style="background-color: #e67e22">side</div>
            <div class="item item__content" style="background-color: #34495e">content</div>
            <div class="item item__footer" style="background-color: #2980b9">footer</div>
        </div>

        <div class="actions">
            <a href="5-grid-areas.html" class="actions__previous">&lt;&lt; Previous</a>
            <a href="7-grid-ception.html" class="actions__next">Next &gt;&gt;</a>
        </div>

    </section>

</body>

</html>