.grid1 {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                         "side content content content"
                         "side content content content";
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.item {
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__header {
    grid-area: header;
}

.item__side {
    grid-area: side;
}

.item__content {
    grid-area: content;
    padding: 20px;
}

.grid2 {
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "header header header header"
                         "side content content content"
                         "side content content content";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}